{
  "branches": ["main", "13-implement-swagger"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"${JSON.stringify(nextRelease, null, 2)}\" > version.json && composer config version ${nextRelease.version} --no-plugins"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "version.json", "composer.json"],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ]
  ]
}